body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.map-box {
    display: grid;
    height: 100%;
}

#mapPortrait {
    display: none
}

 #pin1 {
    position: absolute;
    left: 50%;
    bottom: 50%;
} 

/* @media (max-width: 500px) {
    #mapLevel {
        display: none
    }

    #mapPortrait {
        display: block
    }
} */


