body {
    background: white;
}

.navbar {
    background-color: #800000;
    color: white;
    position: sticky;
}

.page-container {
    margin-top: 75px;
}

/*Plan Page*/
#planPage{
    width:100%;
    height:auto;
    margin: 50px;
    padding:1%;
}

/*Plan details*/
#fabPlan{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #800000;
    color: white;
    z-index: 999;               
}

#modalHeader{
    padding-bottom: 5px; 
}
.modal-subheader{
    padding: 5px 0px 5px;
}
#modalBody{
    padding-top: 2px;
}
.form-group{
    padding-bottom: 15px;
}


.pin img {
   float:left; 
   height:100px;
   width:100px; 
   object-fit: cover;
} 


.pin {
    display: inline-block;
    /* box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); */
    margin: 1px 2px 1px;
    padding: 10px;
    /* background: linear-gradient(45deg, #FFF, #EEE); */
    transition: all .2s ease;
    width: 100%;
    position: relative;
}


/* .pin p {
    font: 12px/18px Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
    max-height: 18px;
    overflow: hidden;
} */

.start-date,.budget, .title, .travel-type{
    font-weight: bold;
}

#deletePlanOrRoute {
    position: absolute;
    top:  10px;
    right: 10px;
    z-index: 999;
    box-shadow: none;
}

#deletePlanOrRoute > .material-icons{
    color: #800000;
}

.bmd-btn-fab:active {                       
    transform: translateY(2px);
    opacity: 0.8;
}

.jan,.feb,.mar,.apr,.may,.jun,.jul,.aug,.sep,.oct,.nov,.dec{
    margin: 10px 10px;
    font-weight: bold;
    font-size: 1.5em;
}

/*New Drawer*/
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(#800000,var(--bs-bg-opacity))!important;
}
#navBarTitle, #navBarOpenOutline{
    color:white;
}
.offcanvas-header, .offcanvas-body{
    background-color: #800000;
}
.offcanvas-header{
    border-color: white;
}
.nav-item .nav-link, .material-icons{
    color: white;
}

.nav-item :first-child {     /*space inbetween icon and button for drawer*/
    margin-right: 0.75rem;
}










#roseLogo { /* image is inline*/
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#rosefireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

.dropdown-menu-right {
    left: -128px;
}

/* #startRoute, #endRoute{
    display: none;
} */

.nav-link{
    cursor: pointer;
}