body {
    background: white;
}

.navbar {
    background-color: #800000;
    color: white;
    position: sticky;
}

.page-container {
    margin-top: 75px;
}

.map-box {
    display: grid;
    height: 100%;
}

/* #mapPortrait {
    display: none
} */

#newYorkPin {
    position: relative;
    margin: 0;
    left: 89%;
    bottom: 61%;
} 

#miamiPin {
    position: relative;
    left: 82%;
    bottom: 17%;
} 

#laPin {
    position: relative;
    left: 8%;
    bottom: 50%;
}

#mapContainer {
    width: 80vw;
    height: 100vw;
}



