body {
    background: white;
}

.navbar {
    background-color: #800000;
    color: white;
    position: sticky;
}

.page-container {
    margin-top: 75px;
}


/* #mapPortrait {
    display: none
} */

.wrapper {
    display : flex;
    justify-content: center;
}


/* .map-container {
    max-width: 70vw;
} */

#mapLevel {
    width: 100%;
}

#newYorkPin {
    position: relative;
    left: 89%;
    bottom: 60%;
} 

#miamiPin {
    position: relative;
    left: 82%;
    bottom: 18%;
} 

#laPin {
    position: relative;
    left: 8%;
    bottom: 50%;
}

#mapContainer {
    width: 80vw;
    height: 100vw;
}



