body {
    background: white;
}

.navbar {
    background-color: #800000;
    color: white;
    position: sticky;
}

.page-container {
    margin-top: 20px;
}


/* #mapPortrait {
    display: none
} */

.wrapper {
    display : flex;
    justify-content: center;
}


/* .map-container {
    max-width: 70vw;
} */

#mapLevel {
    width: 100%;
}

#newYorkPin {
    position: relative;
    left: 89%;
    bottom: 45%;
} 

#miamiPin {
    position: relative;
    left: 83%;
    bottom: 9%;
} 

#laPin {
    position: relative;
    left: 7%;
    bottom: 35%;
}

#chicagoPin{
    position: relative;
    left: 63%;
    bottom: 50%;
}

#houstonPin{
    position: relative;
    left: 50%;
    bottom: 25%;
}

#seattlePin{
    position: relative;
    left: 8%;
    bottom: 73%;
}

#bostonPin{
    position: relative;
    left: 92%;
    bottom: 65%;
}

#dcPin {
    position: relative;
    left: 82%;
    bottom: 58%;
}

#sfPin{
    position: relative;
    left: 3%;
    bottom: 65%;
}

#phillyPin{
    position: relative;
    left: 88%;
    bottom: 69%;
}

#phoenixPin{
    position: relative;
    left: 20%;
    bottom: 55%;
}

#lasVegasPin{
    position: relative;
    left: 14.5%;
    bottom: 62%;
}

#saltLakeCityPin{
    position: relative;
    left:22%;
    bottom: 75%;
}

/* #mapContainer {
    width: 80vw;
    height: 100vw;
} */

/*New Nav Bar*/
.navbar{
    background-color: #800000;
}
.nav-item{
    margin-right: 1.25rem;
    --bs-nav-link-hover-color: #6c757d;
}
.nav-item > a {     
    padding: 1rem 0.25rem;
    color: white;
}
.nav-item > a > i {
    margin-right: 0.5rem;       /*space inbetween icon and text for tab*/
    vertical-align: middle;
}
.nav-item > a > span {
    vertical-align: middle;
}
#navTitle{
    font-weight:500;
    font-size: 1.5em;
    margin-right: 2.5rem;
    color: white;
}
.nav-link{
    cursor: pointer;
}


.modal label {
    margin-top: 10px;
}

#routeSelMsg {
    font-size: 16px;
}

#btnWrapper {
    margin-top: 0px;
}

.map-page-func-btn {
    background-color: #800000 !important;
    font-size: 12px;
    vertical-align: top;
}

#cellPhoneDetectMsg {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

@media (min-width: 700px) {

    #routeSelMsg {
        font-size: 20px;
    }

    .map-page-func-btn {
        margin-top: 5px;
        font-size: 12px;
    }
    
}

@media (min-width: 600px) {
    #cellPhoneDetectMsg {
        display: none;
    }
}